
<div id="about">
    <!-- <h1 class="about-title">about</h1> -->
    
    <div class="about-content container">
        <div class="line"></div>
        <h1 class="title">About</h1>

        <div class="about-info">
            <div class="who">
                <h3>Who am I?</h3>
                <p>I am a full stack developer based in northern Virginia. I have a computer science background and I am a coding bootcamp graduate.</p>
            
            </div>
    
            <div class="what">
                <h3>What do I do?</h3>
                <p>I build full stack applications from concept to completion. From designing to developing and deploying. I can do it all!</p>    
            </div>
        </div>
      </div>
</div> 