#about {
    background: var(--dark-bg);
} 

.about-content {
    max-width: 2000px;
} 

.about-content h3 {
    margin-bottom: .5em;
}

.about-content p { 
    color: var(--dark-gray);
    line-height: 28px;
    font-size: 14px;
}

.who {
    margin-bottom: 2rem
}



@media(min-width: 425px) {
    #about {
        background: var(--dark-bg);
    }
    
    .about-content p { 
        color: var(--dark-gray);
        line-height: 28px;
        font-size: 1rem;
    }
    
    .who {
        margin-bottom: 2rem
    }
}

@media(min-width: 1024px) {

    #about {
        display: flex;
        align-items: center;
    }

    .about-content {
        width: 100%;
    }
    .about-info {   
        display: flex;
        justify-content: space-between;
    }

    .who,
    .what {
        max-width: 750px;
        
    }

    .who {
        padding-right: 1rem;
    }
    
    .what {
        padding-left: 1rem;
    }

    .about-content p { 
        color: var(--dark-gray);
        line-height: 32px;
        font-size: 1rem;
    }
    
    
}


@media(min-width: 2000px) {
    .about-content {
        margin: 0 auto;
    }
}

.about-anim {
    opacity: 0;
}


.about-animation1 {
    animation: aboutAnimation 2s .25s forwards ease-out;
}

.about-animation2 {
    animation: aboutAnimation 2s .5s forwards ease-out;
}


@keyframes aboutAnimation{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}